{% extends 'recipe/base.html' %}

{% block content %}

    <div class="wrapper row0 p-5" style="background-image:url('../static/recipe/images/bg-1.jpg'); background-repeat: no-repeat; background-size:cover;">
        <figure class="text-start p-5">
            <blockquote class="blockquote text-white">
                  <p><i>SweetLife - каталог самых вкусных рецептов выпечки и десертов.</p><p> Здесь вы обнаружите десятки классных идей и при помощи простых и понятных рецептов сумеете приготовить фантастически вкусные, красивые и оригинальные десерты в домашних условиях. </i></p>
           </blockquote>
        </figure>
    </div>

    <div class="m-5">
        <h1 class="bd-title m-5 text-center">{{title}}</h1>
        <div class="m-5">
            <p>Когда все основные блюда уже убраны со стола, наступает время сладкой «точки» трапезы – десертов.</p>
            <p>Умение правильно подобрать рецепты десертов при составлении меню можно считать настоящим искусством, не менее важным, чем умение эти десерты приготовить. Выбор десертов зависит от многих факторов. Прежде всего, нужно учитывать, были ли в меню блюда из мяса, рыбы или птицы и каким способом они были приготовлены. Если в основном меню были блюда из теста, то лучше отказаться от выпечки в пользу более лёгких сладких блюд. </p>
            <img src="../static/recipe/images/07.jpg" class="d-flex justify-content-center w-100 mt-5 mb-5 " alt="image1">
            <p >Конечно, без десертов не обходится ни одно праздничное застолье. Но и в будни не стоит отказывать себе в этом удовольствии. Есть множество рецептов несложных, но очень вкусных десертов «на скорую руку», для приготовления которых не придётся тратить много времени и сил и с которым справится даже начинающий кулинар. Главное, чтобы было желание, а рецепты десертов на нашем сайте найдутся!</p>
        </div>
    </div>

{% endblock %}

{% block footer %}
	<footer class="p-2 w-100 d-flex justify-content-between ">
		<p class="m-3">Кравец Ева</p><p class="m-3"> Группа 201-322</p>
	</footer>
{% endblock %}
