{% extends 'recipe/base.html' %}

{% block content %}
<h1 class="bd-title text-center mt-5" >{{post.title}}</h1>
<div class="m-4">
<div class="m-5 d-flex flex-wrap">

    <div>
        {% if post.photo %}
            <p><img class="img-article-left thumb m-3" alt="image" src="{{post.photo.url}}"></p>
        {% endif %}
        <div>{{post.content|linebreaks}}</div>
    </div>

     <div>
        <h2 class="m-3">Ингредиенты</h2>
        <div class="d-flex justify-content-between">
            <ul>
                {% for p in products %}
                <li>{{p.name}}</li>
                {% endfor %}
            </ul>
            <ul>
               {% for a in amounts %}
                <li>{{a.amount}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div>
        <h2 class="m-3">Этапы приготовления</h2>
        <ul>
            <li class=""><p class="m-2">{{post.steps|linebreaks}}</p></li>
        </ul>
    </div>

</div>
</div>
{% endblock %}
{% block footer %}
	<footer class="p-2 w-100 d-flex justify-content-between ">
		<p class="m-3">Кравец Ева</p><p class="m-3"> Группа 201-322</p>
	</footer>
{% endblock %}
