{% extends 'recipe/base.html' %}

{% block content %}
 <h1 class="m-5 text-center">{{title}}</h1>

    <div class="m-5 d-flex justify-content-center">
        <form method="post">
            {% csrf_token %}

            {% for f in form %}
                <label class="form-label mt-3 d-flex text-left" for="{{ f.id_for_label }}">{{f.label}}:</label>{{ f }}
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit" class="btn btn-dark w-100 mt-5 ">Регистрация</button>
        </form>
    </div>

{% endblock %}
